{% extends 'base.html' %}{% block styles %} {{ super() }} {{ dropzone.load_css()
}} {{ dropzone.style('margin: 20px 0; border: 2px dashed #0087F7; min-height:
400px;') }} {% endblock %} {% block content %}
<div class="page-header">
  <h1>Upload</h1>
</div>
<div class="row">
  <div class="col-md-12">
    {{ dropzone.create(action='main.upload') }}
    <a
      class="btn btn-light float-end"
      href="{{ url_for('user.index', username=current_user.username) }}"
    >
      Done
    </a>
  </div>
</div>
{% endblock %} {% block scripts %} {{ super() }} {{ dropzone.load_js() }} {{
dropzone.config() }} {% endblock %}
